/* style.css */

/* CSS HEX */
/* --light-yellow: #f8ffe5ff;
--aquamarine: #88fcddff;
--blue-munsell: #1b9aaaff;
--paradise-pink: #ef476f;
--orange-yellow: #ffc43dff; */

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #ef476f;
  background: #f8ffe5;
}

#sketch-holder {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#start-audio {
  visibility: hidden;
  font-size: 1em;
  background-color: #1b9aaa; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#ui {
  text-align: center;
  border: 5px solid #ef476f;
  width: 50%;
  margin: 1em auto;
  color: #ef476f;
  background-color: #88fcdd;
}
